[Unit]
Description=Run Analytic System health check every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=15s
Persistent=true
Unit=analytic-healthcheck.service

[Install]
WantedBy=timers.target
