__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*
.vscode/
node_modules/
dist/
build/
*.sqlite3
.DS_Store
*.log
*.pyc
.venv/
venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage/
htmlcov/
*.pem
*.key
*.p12
*.pfx
*.crt
*.der
*.jks
all-postgres.sql
*.csv
*.json
!**/package.json
!**/package-lock.json
!**/tsconfig.json
!**/tsconfig.*.json
!**/.eslintrc.json
!**/eslint.config.json
!**/.prettierrc.json
